@media (max-width: 1024px) {
  .imageOn {
    display: none;
  }

  .first-title div h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 600px;
  }
  .first-title div h3 {
    text-align: center;
    width: 600px;
    font-size: 20px;
    margin-top: 20px;
    color: white;
  }
  .title-box {
    max-width: 600px;
    text-align: center;
  }
  .box1 {
    max-width: 700px;
  }
  .box2 {
    max-width: 700px;
  }
  .container {
    flex-wrap: wrap;
  }
  .two-divs {
    flex-direction: column;
  }
  .first-div img {
    width: 300px;
  }
  .second-div-box img,
  .second-div-box2 img {
    width: 300px;
  }
  .div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .second-div {
    text-align: center;
  }
  .two-div-boxes {
    flex-direction: column-reverse;
  }
  .first-div-box h2,
  .first-div-box h3,
  .first-div-box h4,
  .first-div-box h5,
  .first-div-box h6 {
    text-align: center;
  }
  .second-div2 {
    text-align: center;
  }
  .eighth-h2 h2 {
    font-size: 55px;
  }
  .eighth-h2 h6 {
    font-size: 23px;
  }

  /* ? */
  .first-div-box2 h2 {
    font-size: 55px;
  }
  .first-div-box2 h3 {
    font-size: 30px;
  }
  .first-div-box2 h4 {
    font-size: 17px;
  }
  .first-div-box2 h5 {
    font-size: 25px;
  }
  .first-div-box2 h6 {
    font-size: 20px;
    line-height: 25px;
  }
  .eighth-h2 {
    width: 70%;
  }
  /* ?burger-bar */
  .navigation-bg {
    display: flex;
    justify-content: space-between;
  }
  .important {
    display: none;
  }

  .burger-bar {
    display: block;
  }
  .important.show {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .nav-ul {
    flex-direction: column;
    text-align: center;
  }
  .navigation-div {
    flex-direction: column;
    align-items: center;
  }
  .navigation-bg {
    flex-direction: column;
  }

  /* ! */
  .store-imageOn {
    width: 50%;
    background-size: cover;
    background-position: center;
  }
  .main-store-title {
    margin: 0 auto;
    width: 48%;
  }
  .Assassin-h2 {
    font-size: 25px;
  }
  .storyImg {
    width: 360px;
  }
  .storyImg2 {
    width: 360px;
  }
  .product-video-container {
    padding-top: 140px;
  }
}
@media (max-width: 900px) {
  .product-box2 div {
    flex-direction: column;
  }
  .second-product-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .product-box {
    text-align: center;
  }
  .product-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .inproductBox {
    width: 120px;
    height: 40px;
    font-size: 13px;
  }
  .incontainer div {
    flex-direction: column;
  }
  .media {
    width: 100%;
  }
  .game-container {
    flex-direction: column;
  }
  .game-container div {
    width: 100%;
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .photo-bg {
    height: 768px;
  }

  .first-title div h2 {
    width: 400px;
  }
  .first-title div h3 {
    width: 400px;
  }

  .title-box {
    font-size: 50px;
    text-align: center;
  }
  .box1 {
    max-width: 550px;
  }
  .box2 {
    max-width: 550px;
  }

  .first-div-box h2 {
    font-size: 35px;
  }
  .first-div-box h3 {
    font-size: 30px;
  }
  .first-div-box h4 {
    font-size: 17px;
  }
  .first-div-box h5 {
    font-size: 25px;
  }
  .first-div-box h6 {
    font-size: 20px;
    line-height: 25px;
  }

  .second-div h2 {
    font-size: 35px;
  }
  .second-div h3 {
    font-size: 30px;
  }
  .second-div h4 {
    font-size: 17px;
  }
  .second-div h5 {
    font-size: 25px;
  }
  .second-div h6 {
    font-size: 20px;
    line-height: 25px;
  }

  /*!!!!*/
  .second-div2 h2 {
    font-size: 35px;
  }
  .second-div2 h3 {
    font-size: 30px;
  }
  .second-div2 h4 {
    font-size: 17px;
  }
  .second-div2 h5 {
    font-size: 25px;
  }
  .second-div2 h6 {
    font-size: 20px;
    line-height: 25px;
  }

  /* ! */
  .first-div-box2 h2 {
    font-size: 35px;
    text-align: center;
  }
  .first-div-box2 h3 {
    font-size: 30px;
    text-align: center;
  }
  .first-div-box2 h4 {
    font-size: 17px;
    text-align: center;
  }
  .first-div-box2 h5 {
    font-size: 25px;
    text-align: center;
  }
  .first-div-box2 h6 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .two-div-boxes2 {
    flex-direction: column;
  }
  .second-div-box2 img {
    width: 350px;
  }
  .eighth-h2 h2 {
    font-size: 30px;
  }
  .eighth-h2 h6 {
    font-size: 15px;
  }
  .eighth-h2 {
    width: 80%;
  }
  .second-another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: none;
  }
  .footer-box {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .second-footer-box {
    margin-top: 15px;
  }
  /* ? */
  .store-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .store-flex {
    flex-direction: column-reverse;
  }
  .main-store-title {
    width: 90%;
  }
  .store-h2-1 {
    font-size: 40px;
    text-align: center;
  }
  .store-h3-1 {
    text-align: center;
  }
  .store-imageOn {
    width: 90%;
    background-position: top;
    height: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
  .store-image-bg {
    height: 650px;
  }
  .Assassin {
    display: none;
  }
  .Assassin-flex {
    margin-top: 40px;
  }
  .storyImg {
    width: 100%;
  }
  .storyImg2 {
    width: 100%;
  }
  .storyDiv {
    width: 90%;
  }
  .storyBox h3 {
    font-size: 35px;
  }
  .storyBox h4 {
    font-size: 20px;
  }

  .storyDiv {
    display: flex;
    flex-direction: column;
  }
  .storyBox {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: fit-content;
  }
}
@media (max-width: 480px) {
  .photo-bg {
    height: 500px;
    width: 100%;
  }
  .first-title div h2 {
    width: 90%;
  }
  .first-title div h3 {
    width: 90%;
  }
  .title-box {
    font-size: 25px;
    text-align: center;
  }
  .box1 {
    width: 280px;
  }
  .box2 {
    width: 280px;
  }
  .flex {
    flex-direction: column;
    gap: 0;
  }
  .third-section {
    padding: 15px;
  }
  .user h5 {
    font-size: 15px;
    width: 250px;
  }
  .user {
    margin-left: 20px;
  }
  .first-div img {
    width: 250px;
  }

  .second-div-box img,
  .second-div-box2 img {
    width: 250px;
  }
  .second-div2 {
    text-align: center;
  }
  .eighth-h2 h2 {
    font-size: 25px;
  }
  .eighth-h2 h6 {
    font-size: 17px;
  }
  .eighth-section {
    background-color: var(--background-color);
    padding: 10px;
  }
  .eighth-h2 {
    width: 80%;
  }
  .first-box {
    padding: 0;
    font-size: 25px;
    width: 250px;
  }
  .second-another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .second-footer-box {
    margin-top: 15px;
  }
  .store-h2-1 {
    font-size: 30px;
  }
  .store-imageOn {
    width: 100%;
  }
  .store-container-h2 {
    text-align: center;
    font-size: 25px;
  }
  .Assassin-h2 {
    font-size: 20px;
  }
  .Assassin-flex {
    text-align: center;
  }
  .Assassin-h3 {
    font-size: 16px;
  }
  .first-store-section {
    padding-top: 140px;
  }
  .storyDiv {
    display: flex;
    flex-direction: column;
  }
  .storyBox {
    height: 350px;
  }
  .storyImg {
    height: 150px;
  }
  .storyImg2 {
    height: 150px;
  }
  .btnS {
    width: 100%;
  }
  .star {
    font-size: 30px;
  }
  .names h5 {
    font-size: 15px;
  }
}
