@media (max-width: 1024px) {
  .imageOn {
    display: none;
  }

  .first-title div h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 600px;
  }
  .first-title div h3 {
    text-align: center;
    width: 600px;
    font-size: 20px;
    margin-top: 20px;
    color: white;
  }
  .title-box {
    max-width: 600px;
    text-align: center;
  }
  .box1 {
    max-width: 700px;
  }
  .box2 {
    max-width: 700px;
  }
  .container {
    flex-wrap: wrap;
  }
  .two-divs {
    flex-direction: column;
  }
  .first-div img {
    width: 300px;
  }
  .second-div-box img,
  .second-div-box2 img {
    width: 300px;
  }
  .div {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .second-div {
    text-align: center;
  }
  .two-div-boxes {
    flex-direction: column-reverse;
  }
  .first-div-box h2,
  .first-div-box h3,
  .first-div-box h4,
  .first-div-box h5,
  .first-div-box h6 {
    text-align: center;
  }
  .second-div2 {
    text-align: center;
  }
  .eighth-h2 h2 {
    font-size: 55px;
  }
  .eighth-h2 h6 {
    font-size: 23px;
  }

  /* ? */
  .first-div-box2 h2 {
    font-size: 55px;
  }
  .first-div-box2 h3 {
    font-size: 30px;
  }
  .first-div-box2 h4 {
    font-size: 17px;
  }
  .first-div-box2 h5 {
    font-size: 25px;
  }
  .first-div-box2 h6 {
    font-size: 20px;
    line-height: 25px;
  }
  .eighth-h2 {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .photo-bg {
    height: 768px;
  }

  .first-title div h2 {
    width: 400px;
  }
  .first-title div h3 {
    width: 400px;
  }

  .title-box {
    font-size: 50px;
    text-align: center;
  }
  .box1 {
    max-width: 550px;
  }
  .box2 {
    max-width: 550px;
  }

  .first-div-box h2 {
    font-size: 35px;
  }
  .first-div-box h3 {
    font-size: 30px;
  }
  .first-div-box h4 {
    font-size: 17px;
  }
  .first-div-box h5 {
    font-size: 25px;
  }
  .first-div-box h6 {
    font-size: 20px;
    line-height: 25px;
  }

  .second-div h2 {
    font-size: 35px;
  }
  .second-div h3 {
    font-size: 30px;
  }
  .second-div h4 {
    font-size: 17px;
  }
  .second-div h5 {
    font-size: 25px;
  }
  .second-div h6 {
    font-size: 20px;
    line-height: 25px;
  }

  /*!!!!*/
  .second-div2 h2 {
    font-size: 35px;
  }
  .second-div2 h3 {
    font-size: 30px;
  }
  .second-div2 h4 {
    font-size: 17px;
  }
  .second-div2 h5 {
    font-size: 25px;
  }
  .second-div2 h6 {
    font-size: 20px;
    line-height: 25px;
  }

  /* ! */
  .first-div-box2 h2 {
    font-size: 35px;
    text-align: center;
  }
  .first-div-box2 h3 {
    font-size: 30px;
    text-align: center;
  }
  .first-div-box2 h4 {
    font-size: 17px;
    text-align: center;
  }
  .first-div-box2 h5 {
    font-size: 25px;
    text-align: center;
  }
  .first-div-box2 h6 {
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }
  .two-div-boxes2 {
    flex-direction: column;
  }
  .second-div-box2 img {
    width: 350px;
  }
  .eighth-h2 h2 {
    font-size: 30px;
  }
  .eighth-h2 h6 {
    font-size: 15px;
  }
  .eighth-h2 {
    width: 80%;
  }
  .second-another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: none;
  }
  .footer-box {
    align-items: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .second-footer-box {
    margin-top: 15px;
  }


  /* ?burger-bar */
  .navigation-bg{
    display: flex;
    justify-content: space-between;
  }
  .important{
    display: none;
  }
  
  .burger-bar{
    display: block;
  }
  .important.show{
    display: block;
    display: flex;
    flex-direction: column;
  }
  .nav-ul{
    flex-direction: column;
    text-align: center;
  }
  .navigation-div{
    flex-direction: column;
    align-items: center;
  }
  .navigation-bg{
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .photo-bg {
    height: 500px;
    width: 100%;
  }
  .first-title div h2 {
    width: 90%;
  }
  .first-title div h3 {
    width: 90%;
  }
  .title-box {
    font-size: 25px;
    text-align: center;
  }
  .box1 {
    width: 280px;
  }
  .box2 {
    width: 280px;
  }
  .flex {
    flex-direction: column;
    gap: 0;
  }
  .third-section {
    padding: 15px;
  }
  .user h5 {
    font-size: 15px;
    width: 250px;
  }
  .user {
    margin-left: 20px;
  }
  .first-div img {
    width: 250px;
  }

  .second-div-box img,
  .second-div-box2 img {
    width: 250px;
  }
  .second-div2 {
    text-align: center;
  }
  .eighth-h2 h2 {
    font-size: 25px;
  }
  .eighth-h2 h6 {
    font-size: 17px;
  }
  .eighth-section {
    background-color: var(--background-color);
    padding: 10px;
  }
  .eighth-h2 {
    width: 80%;
  }
  .first-box {
    padding: 0;
    font-size: 25px;
    width: 250px;
  }
  .second-another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .another-div {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .second-footer-box {
    margin-top: 15px;
  }
}
