.section-first {
  max-width: 1600px;
  width: 100%;
  padding-top: 70px;
}

.photo-bg {
  position: relative;
  background-image: url("../images/eivor.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
}
.buy {
  display: grid;
  place-items: center;
  border-radius: 20px;
  background-color: blue;
  color: white;
  font-size: 23px;
  width: 70px;
  height: 40px;
  margin-top: 25px;
  font-family: "Roboto";
  font-weight: bold;
}
.dark-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.first-title {
  display: flex;
  align-items: center;
}
.first-title div h2 {
  font-size: 40px;
  font-family: "Roboto";
  color: white;
  font-weight: bold;
  text-align: right;
  width: 300px;
}
.first-title div h3 {
  font-size: 21px;
  color: white;
  font-weight: bold;
  text-align: right;
  width: 300px;
  margin-top: 20px;
}
.imageOn {
  background-image: url("../images/top/greek.png");
  width: 400px;

  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 750px;
}

/* !  second section*/

:root {
  --main-color: #b60040;
  --accent-color: #00b1f6;
  --accent-darker: #005475;
  --background-color: #001a25;
}

.second-section {
  background-color: var(--background-color);
  padding-top: 40px;
  padding-bottom: 40px;
}
.title-box {
  font-size: 70px;
  font-family: "Roboto";
  max-width: 700px;
  width: 100%;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 10px whitesmoke;
}

.space-around {
  display: flex;
  justify-content: space-around;
}
.box1 {
  font-size: 20px;
  color: white;
  margin-top: 30px;
  max-width: 900px;
  width: 100%;
  text-align: center;
}
.box2 {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  max-width: 900px;
  width: 100%;
  text-align: center;
}
.dovnloadBox {
  display: flex;
  background-color: var(--accent-darker);
  width: 180px;
  height: 80px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px red;
  border-radius: 20px;
  margin-top: 40px;
}
.dovnloadBox div {
  font-size: 18px;
  color: white;
}
.dovnloadBox div div {
  font-size: 25px;
}
.fa-apple {
  color: white;
  font-size: 50px;
  margin-right: 10px;
}
.PC {
  font-size: 30px;
}
.fa-laptop-code {
  color: white;
  font-size: 50px;
  margin-right: 10px;
}
.flex {
  display: flex;
  gap: 40px;
}

/* ! */
.fa-people-group {
  color: white;
  font-size: 70px;
}
.first-box {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto";
  background-color: var(--main-color);
  width: 300px;
  height: 250px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: all 1s;
}

.first-box:hover {
  transform: translateY(-20px);
}

.container {
  display: flex;
  gap: 35px;
  justify-content: space-evenly;
  margin-top: 40px;
  flex-wrap: wrap;
}

.fa-gift {
  font-size: 70px;
}
.fa-signal {
  font-size: 70px;
}
.fa-computer-mouse {
  font-size: 70px;
}
/* !third-section */

.user {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
.second-div-box {
  display: flex;
  align-items: center;
}
.second-div-box img {
  max-width: 500px;
  width: 100%;
}
.fa-user {
  font-size: 30px;
  color: white;
}
.user h5 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.third-section {
  background-color: var(--background-color);
  padding: 30px;
}
.first-div img {
  width: 600px;
}
.second-div h2 {
  margin-top: 30px;
  font-size: 100px;
  color: orange;
  text-shadow: 3px 3px 10px yellow;
  font-family: "Roboto";
  font-weight: bold;
}
.two-divs {
  display: flex;
}
.second-div h3 {
  font-size: 55px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
}
.second-div h4 {
  font-size: 17px;
  color: white;
  margin-top: 25px;
  font-weight: bold;
}
.second-div h5 {
  font-size: 45px;
  color: white;
  font-weight: bold;
  font-family: "Roboto";
  margin-top: 30px;
}
.second-div h6 {
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
.fourth-section {
  background-color: var(--background-color);
  padding: 30px;
}

/* fourth section */
.second-div-box img {
  width: 480px;
}
.two-div-boxes {
  display: flex;
}
.first-div-box h2 {
  color: #00b1f6;
  font-size: 100px;
  text-shadow: 3px 3px 10px royalblue;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box h3 {
  font-size: 50px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box h4 {
  font-size: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box h5 {
  font-size: 35px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box h6 {
  font-size: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.fifth-section {
  background-color: var(--background-color);
  padding: 30px;
}

.second-div2 h2 {
  margin-top: 30px;
  font-size: 100px;
  color: green;
  text-shadow: 3px 3px 10px greenyellow;
  font-family: "Roboto";
  font-weight: bold;
}
.two-divs {
  display: flex;
}
.second-div2 h3 {
  font-size: 55px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
}
.second-div2 h4 {
  font-size: 17px;
  color: white;
  margin-top: 25px;
  font-weight: bold;
}
.second-div2 h5 {
  font-size: 45px;
  color: white;
  font-weight: bold;
  font-family: "Roboto";
  margin-top: 30px;
}
.second-div2 h6 {
  margin-top: 25px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: white;
}
.div {
  display: flex;
  align-items: center;
}

/* ! */
.seventh-section {
  background-color: var(--background-color);
  padding: 30px;
}

.first-div-box2 h2 {
  color: red;
  font-size: 100px;
  text-shadow: 3px 3px 10px rgb(236, 56, 6);
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box2 h3 {
  font-size: 50px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box2 h4 {
  font-size: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box2 h5 {
  font-size: 35px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}
.first-div-box2 h6 {
  font-size: 20px;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 30px;
  text-align: right;
}

.two-div-boxes2 {
  display: flex;
}
.second-div-box2 img {
  max-width: 500px;
  width: 100%;
}
/* ! 8 */

.eighth-section {
  background-color: var(--background-color);
  padding: 30px;
}
.eighth-h2 {
  width: 55%;
}
.eighth-h2 h2 {
  font-size: 85px;
  color: var(--accent-color);
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}
.eighth-h2 h6 {
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.console {
  max-width: 800px;
  width: 100%;
  margin-top: 15px;
}
.footer {
  background-color: var(--background-color);
  padding: 30px;
}
.follow {
  color: white;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
  margin-right: 15px;
  width: 180px;
}
.first-footer-box {
  display: flex;
}
.fa-facebook,
.fa-square-instagram,
.fa-linkedin {
  color: white;
  font-size: 30px;
}
.social-icons {
  max-width: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}
.language-box {
  background-color: red;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  color: white;
}
.footer {
  max-width: 1600px;
  width: 100%;
  border-top: 2px solid white;
}
.main-bg {
  max-width: 1600px;
  width: 100%;
}
.another-div {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.another-div a {
  color: white;
  font-size: 20px;
}
.second-another-div {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin-top: 25px;
  line-height: 35px;
}
.second-another-div h6 {
  font-size: 20px;
  color: white;
}

/* ? header */
.GG {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 30px;
}
.navigation-bg {
  background-color: var(--accent-darker);
  padding: 15px;
}
.nav-ul {
  display: flex;
  gap: 15px;
}
.nav-ul li a {
  font-size: 25px;
  color: white;
}
.navigation-bg {
  display: flex;
  align-items: center;
  gap: 30px;
}
.fa-user {
  color: black;
  font-size: 25px;
  margin-right: 10px;
}
.users-button {
  background-color: white;
  width: 130px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
}
.download-button {
  width: 220px;
  font-size: 15px;
  color: white;
  background-color: aqua;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.navigation-div {
  display: flex;
  gap: 20px;
}
.down {
  font-size: 25px;
  margin-right: 10px;
}
.important {
  display: flex;
  align-items: center;
  gap: 20px;
}
/* * burger-bar*/

.burger {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}
.burger-top,
.burger-bottom {
  width: 50%;
  position: absolute;
  height: 10px;
  background-color: yellow;
  border-radius: 20px;
  transition: all 2s;
}
.burger-bottom {
  right: 0;
  bottom: 0;
}
.burger-top {
  left: 0;
  top: 0;
}
.burger-filling {
  background-color: #ef476f;
  width: 100%;
  height: 15px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 2s;
}
.burger.clicked .burger-filling {
  height: 0;
}

.burger.clicked .burger-bottom {
  width: 100%;
  transform: translateY(-50%) rotate(45deg);
  right: 0;
  top: 50%;
  height: 7px;
}
.burger.clicked .burger-top {
  width: 100%;
  right: 0;
  top: 50%;
  height: 7px;
  transform: translateY(-50%) rotate(-45deg);
}
.burger-bar {
  display: none;
}
/* ? */

.content {
  display: none;
  width: 500px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
.close {
  font-size: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.content.active {
  display: block;
}
.photo-bg {
  position: relative;
}

.fa-arrow-up {
  font-size: 40px;
  color: red;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
}
.header-bg {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 5;
}


#top{
  display: none;
}
#top.activeIcon{
  display: block;
}



.navigation-bg.newBgColor{
  background-color: aqua;

}

.navigation-bg.newBgColor .nav-ul li a{
  color: red;
}