.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 999;
  display: none;
}
.overlay.overlayAcc {
  display: block;
}
.overlay.overlayAcc .MAIN{
  display: none;
}
.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-el {
  max-width: 300px;
  width: 100%;
}
.height {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logIn {
  background-color: green;
  color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 30px;
}
.error-text {
  color: red;
}
#btnLogIn {
  cursor: pointer;
}
.close {
  font-size: 35px;
  position: fixed;
  top: 30px;
  right: 20px;
  color: black;
  font-weight: bold;
}
.column{
  position: relative;
}
.eye{
  position: absolute;
  right: 15px;
  bottom: 2px;
}